<h1>Equipment</h1>
<section>
<h2>Get all equipment</h2>

<div class="codeBlock">
    <code>
    <pre>
    GET /equipment</pre>
    </code>
</div>

<h3>Return on sucess</h3>

<div class="codeBlock">
    <code>
    <pre>
    {
        "data": [
            {
                "barcode": "test001",
                "name": "HTC VIVE PRO",
                "borrow_time": 1,
                "status": "Booked"
            },
            {
                "barcode": "test002",
                "name": "Lego truck",
                "borrow_time": 5,
                "status": "Available"
            },
            {
                "barcode": "test003",
                "name": "Parot Drone",
                "borrow_time": 2,
                "status": "Available"
            }
        ]
    }</pre>
    </code>
</div>
<h2>Add new eqipment</h2>

<div class="codeBlock">
    <code>
    <pre>
    POST /equipment</pre>
    </code>
</div>
<p>Requiered parameters</p>

<ul>
    <li>barcode</li>
    <li>name</li>
    <li>borrowTime</li>
</ul>

<h3>Return on sucess</h3>

<div class="codeBlock">
    <code>
    <pre>
    {
        "data": [
            {
                "message": "Equipment sucessfully added"
            }
        ]
    }</pre>
    </code>
</div>

<h3>Possible Errors</h3>

<p class="center">Barcode already exists</p>

<div class="codeBlock">
    <code>
    <pre>
    {
        "errors": {
            "title": "Barcode Registration error",
            "details": "That barcode alreay exists"
        }
    }</pre>
    </code>
</div>

<h2>Modify Equipment</h2>

<div class="codeBlock">
    <code>
    <pre>
    PUT /equipment</pre>
    </code>
</div>

<p>Requiered parameters</p>

<ul>
    <li>barcode</li>
    <li>name</li>
    <li>borrowTime</li>
</ul>

<p class="center">Note: All fields in the database will be updated with the new information, except the barcode</p>

<h3>Possible Errors</h3>

<p class="center">Barcode does not exist</p>

<div class="codeBlock">
<code>
    <pre>
    {
        "errors": {
            "title": "Barcode error",
            "details": "Invalid barcode"
        }
    }</pre>
</code>
</div>

<h3>Remove Equipment</h3>

<div class="codeBlock">
    <code>
    <pre>
    DELETE /equipment</pre>
    </code>
</div>

<p>Requiered parameters</p>

<ul>
    <li>barcode</li>
    <li>name</li>
    <li>borrowTime</li>
</ul>

<h3>Possible Errors</h3>

<p class="center">Barcode does not exist</p>

<div class="codeBlock">
<code>
    <pre>
    {
        "errors": {
            "title": "Barcode error",
            "details": "Invalid barcode"
        }
    }</pre>
</code>
</div>
</section>
