<!doctype html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <div class="mainContainer">
        <header>
            <h1>API Documentation</h1>
        </header>

        <section>
            <p>The different call methods that can be used against the api is.</p>

            <ul>
                <li><a href="#authDoc">Auth</a></li>
                <li><a href="#JWTDoc">JWT Errors</a></li>
                <li><a href="#registerDoc">Register</a></li>
                <li><a href="#equipmentDoc">Equipment</a></li>
                <li><a href="#bookingDoc">Booking</a></li>
                <li><a href="#globalErrorsDoc">Global Errors</a></li>
            </ul>
        </section>

        <section>
            <h2 id="authDoc">Auth/Authentication</h2>
            <p>The supported methods for Authentication is POST requests</p>
            <div class="codeBlock">
                <code>
                    <pre>
    POST /login</pre>
                </code>
            </div>

            <p>Requried paramters are</p>

            <ul>
                <li>userId (the id you used to register your account)</li>
                <li>password</li>
            </ul>

            <h3>Possible errors</h3>

            <h4>Wrong credentials (invalid userId or password)</h4>
                <div class="codeBlock">
                    <code>
                    <pre>
                    {
                        "errors": {
                            "title": "Account error",
                            "detail": "Account has not been approved by admin"
                        }
                    }</pre>
                    </code>
                </div>

            <h4>Account not approved by admin</h4>
                <div class="codeBlock">
                    <code>
                    <pre>
                    {
                        "errors": {
                            "status": 401,
                            "title": "Invalid Credetials",
                            "details": "Invalid password or user Id"
                        }
                    }</pre>
                    </code>
                </div>

            <h4>Account deactivated/removed</h4>
            <div class="codeBlock">
                <code>
                <pre>
                {
                    "errors": {
                        "title": "Account removed error",
                        "detail": "This account has been removed from
                        active accounts, if you belive this was a misstake.
                        Contact admin for restoration of the account"
                    }
                }</pre>
                </code>
            </div>
            <h3>Successful Login</h3>
                <div class="codeBlock">
                    <code>
                        <pre>
                        {
                            "data": {
                                "type": "success",
                                "message": "User logged in",
                                "user": {
                                    "userId": "niko14"
                                },
                                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.ey..."
                            }
                        }</pre>
                    </code>
                </div>

                <p class="center">Note, Token that is returned is a JWT Token. It will be needed for all user authentication in the system</p>
                <p class="center">The JWT Token is valid for 12 Hours</p>
        </section>

        <section>
            <h2 id="JWTDoc">Possible errors with JWT</h2>
            <p class="center">
                All requests with a POST, PUT or DELETE call must be sent with the recived JWT token
                in the header as an <b>'x-access-token'</b>
            </p>

            <p class="center">If not, one of the following errors can be retuned</p>

            <h3>No token in header</h3>
            <p class="center">This happens then JWT token has not been provided in the header or provided but with wrong name</p>
            <div class="codeBlock">
                <code>
                    <pre>
                    {
                        "errors": {
                            "status": 401,
                            "title": "No token",
                            "details": "No access token provided in header"
                        }
                    }</pre>
                </code>
            </div>

            <h3>Invalid Token</h3>
            <p class="center">This happens then the token provided has an invalid signatue</p>
            <div class="codeBlock">
                    <code>
                        <pre>
                        {{
                            "errors": {
                                "status": 401,
                                "title": "JsonWebTokenError",
                                "detail": "invalid signature"
                            }
                        }</pre>
                    </code>
                </div>

                <h3>Token Expirered</h3>
                <p class="center">This happens then the token provided has expired and then the user needs to login/authenticate again</p>
                <div class="codeBlock">
                        <code>
                            <pre>
                            {
                                "errors": {
                                    "status": 401,
                                    "title": "TokenExpiredError",
                                    "detail": "jwt expired"
                                }
                            }</pre>
                        </code>
                    </div>
        </section>

        <section>
        <h2 id="registerDoc">Register</h2>
        <div class="codeBlock">
            <code>
                <pre>
    POST /register/student</pre>
            </code>
        </div>

        <p>Required parameters</p>
        <ul>
            <li>userId</li>
            <li>email</li>
            <li>password</li>
        </ul>

        <h3>Return</h3>
        <div class="codeBlock">
            <code>
                <pre>
                {
                    "data": "Account registered sucessfully"
                }</pre>
            </code>
        </div>
        <p class="center">Note: This call does not require a header token</p>
        <div class="codeBlock">
                <code>
                    <pre>
    POST /register/user</pre>
                </code>
            </div>

            <h3>Return</h3>
        <div class="codeBlock">
            <code>
            <pre>
            {
                "data": "Account registered sucessfully"
            }</pre>
            </code>
        </div>
        <p class="center">Note: This call (POST /register/user) is admin version of registering a user.
            And therefore will bypass the approval process for a new user. Optional parameter that can be sent in this call is role.
            Note: role needs to be an int. Roles are defined by the following:
        </p>

        <ol>
            <li>Admin</li>
            <li>TeacherS</li>
            <li>Student</li>
            <li>Avaiting account approval</li>
        </ol>

        <h3>Possible errors from the calls</h3>

        <h4>User ID is already in use</h4>
        <div class="codeBlock">
                <code>
                    <pre>
                    {
                        "errors": {
                            "title": "User Id error",
                            "details": "Account with that user Id already registered"
                        }
                    }</pre>
                </code>
            </div>

        <h4>Email is already in use</h4>
        <div class="codeBlock">
                <code>
                <pre>
                {
                    "errors": {
                        "title": "Email error",
                        "detail": "User with that email already registered"
                    }
                }</pre>
                </code>
            </div>
        </section>

        <section>
            <h2 id="globalErrorsDoc">Errors that can occur on all calls</h2>
            <h3>Invalid Form Data (not all required fields sent)</h3>
                <div class="codeBlock">
                    <code>
                    <pre>
                    {
                        "errors": {
                            "title": "Invalid form data",
                            "detail": "Invalid form data, see documentaion for correct values"
                        }
                    }</pre>
                    </code>
                </div>
        </section>
    </div>
    <footer>

    </footer>

<script type="text/javascript" src="/js/main.js"></script>
</body>
