<!doctype html>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="icon" href="/favicon.ico">

<header>

</header>

<footer>

</footer>

<script type="text/javascript" src="/js/main.js"></script>
